body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #121214;
}

div {
  scale: 200%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

code {
  margin-top: 20px;
}